<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Add New User</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<link type="text/css" rel="stylesheet"
	th:href="@{css/bootstrap.min.css}" />
</head>
<body class="bg-success bg-opacity-50 text-center">
	<div class="container-sm card card-signin my-5">
		<h1>Please Sign Up</h1>

		<form th:object="${signupform}" th:action="@{/saveuser}" action="#"
			method="post">
			<div>
				<label> Username :<input type="text" th:field="*{username}"
					class="form-control" /></label>
				<p th:if="${#fields.hasErrors('username')}" th:errors="*{username}">Username
					Error</p>
			</div>
			<div>
				<label> Password :<input type="password"
					th:field="*{password}" class="form-control" /></label>
				<p th:if="${#fields.hasErrors('password')}" th:errors="*{password}">Password
					Error</p>
			</div>
			<div>
				<label> Re-type Password: <input type="password"
					th:field="*{passwordCheck}" class="form-control" /></label>
				<p th:if="${#fields.hasErrors('passwordCheck')}"
					th:errors="*{passwordCheck}">Password Match Error</p>
			</div>
			<br>
				<div class="d-grid gap-2">
				<input type="submit" class="btn btn-outline-danger" value="Signup"></input>
				<p>Already have an account?</p>
			</div>
		</form>
		<a class="btn btn-success" th:href="@{/login}">Login</a>
		<br>
	</div>
</body>
</html>